<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
            <id>central</id>
        </server>
        <server>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
            <id>snapshots</id>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>maven-central</id>
            <mirrorOf>!central,*</mirrorOf>
            <url>https://repo1.maven.org/maven2</url>
            <name>Central Repository</name>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>libs-releases</id>
                    <name>libs-releases</name>
                    <url>https://alvch.jfrog.io/alvch/libs-releases</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>libs-snapshots</id>
                    <name>libs-snapshots</name>
                    <url>https://alvch.jfrog.io/alvch/libs-snapshots</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>plugins-releases</name>
                    <url>https://alvch.jfrog.io/alvch/plugins-releases</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>plugins-snapshots</name>
                    <url>https://alvch.jfrog.io/alvch/plugins-snapshots</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
